.highlighted .cell-button {
    background-color: rgb(242, 242, 242); /* Светло-серый фон для диагональных ячеек, первой строки и первого столбца */
    border-radius: 5px;
}

div.cell{
    width: 40px;
    height: 40px;
    padding: 0px;
}

button.cell-button{
    height: 100%;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 18px;
    padding: 0px;
    background-color: white;
    border: 2px solid #ddd;
    box-sizing: border-box;
    border-radius: 5px;
}

